@model int

<div class="well">
    There are @Model  resturants here. <a asp-page="./Restaurants/List">Seem them all!</a>
</div>

@* aca se define el componente. Se tiene que crear una carpeta que se llame Components y se tiene que crear
    otra carpeta con el nombre del view component pero sin las palabras viewComponent*@